*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.display-image {
	width: 1000px;
	height: 500px;
	border: 1px solid black;
	background-size: cover;
	z-index: -1;
}

.canvas__img {
	z-index: 1;
}

.is-disabled {
	color: currentColor;
	cursor: not-allowed;
	opacity: 0.5;
	text-decoration: none;
}

.display-image {
	display: block;
}
