*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.display-image {
	width: 400px;
	height: 300px;
	border: 1px solid black;
	background-size: cover;
}

.is-disabled {
	color: currentColor;
	cursor: not-allowed;
	opacity: 0.5;
	text-decoration: none;
}

.display-image {
	display: block;
}
